{% include 'headers.html' %}
<button class="btn btn-primary mt-5" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Tambah Mata Kuliah
  </button>
 
<div class="collapse" id="collapseExample">
  <div class="card card-body">
<form method="POST">
{% csrf_token %}
  <div class="form-group">
    <label>CODE</label>
    <input type="text" name="code" class="form-control">
  </div>
  <div class="form-group">
    <label>Nama</label>
    <input type="text" name="nama" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>

<!DOCTYPE html>
<html>
<head>
    <title>Ini adalah Courses</title>
</head>
<body>
    <h1>Welcome !!</h1>
    <h2>Assessment</h2>
    {% if messages %}
  {% for message in messages  %}
  <div class="alert-success">{{message}}</div>
  {%endfor%}
  {% endif %}
    <table class="table mt-5" border="1" >
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">CODE</th>
                <th scope="col">Nama</th>
                <th scope="col">Action</th>
              </tr>
        </thead>
        <tbody>
        {% for row in courses %}
            <tr>
                <th scope="row">{{row.id}}</th>
                <td>{{row.courses_code}}</td>
                <td>{{row.courses_name}}</td>
                <td>
                  <a class="btn btn-warning" href="edit/{{row.id}}">Edit</a>
                  <a class="btn btn-danger" href="delete/{{row.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>